@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../node_modules/react-modal-video/css/modal-video.min.css';

@layer base {
    ul {
        @apply list-disc pl-10;
    }
    h2 {
        @apply text-blue-500;
    }
    pre {
        background: #282c34;
        border-radius: 4px;
        color: #fff;
        margin: 0;
        overflow: auto;
        padding: 16px;
        @apply shadow-md;
    }
  }